<div class="homePage">
  <div class="container">
      <form [formGroup]="getRecommendations" class="form">
          <h2>What are you looking for?</h2>
          <div class="input">
            <input placeholder="eg. hairdresser" formControlName="skill" (input)="isSkillChange = false; isSkillSelected = false" (focusout)="isSkillChange = true"/>
            <ul [ngClass]="{'active':  getRecommendations.get('skill').value.length > 0 && !isSkillChange}">
              <li *ngFor="let skill of initialSkills | filter : getRecommendations.get('skill').value" (click)="selectSkill(skill)">{{skill}}</li>
            </ul>
            <div *ngIf="(getRecommendations.get('skill').dirty || getRecommendations.get('skill').touched)"
              class="custom-errors">
                <div *ngIf="!isSkillSelected">
                  Skill is required
                </div>
              </div>
          </div>
          <div class="input location">
              <input placeholder="Where?" type="text" formControlName="location" [attr.disabled]="getRecommendations.get('isLocation').value ? '' : null"/>
              <div class="isLocation">
                  <p>Any Location</p>
                  <label class="switch">
                      <input type="checkbox" (change)="locationOnChange()" formControlName="isLocation"  >
                      <span class="slider round"></span>
                    </label>
              </div>
          </div>
          <div class="submit" >
            <div class="btn" (click)="getRecommendation()" >Get Recommendations</div>
          </div>
        </form>
  </div>
</div>